/* ===== CARD ===== */
.event-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);

  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.15),
              0 8px 10px -6px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

/* ===== IMAGE ===== */
.event-card-image {
  width: 100%;
  height: fit-content; /* fixed for consistency */
  object-fit: cover;
  transition: transform 0.5s ease;
}

.event-card:hover .event-card-image {
  transform: scale(1.05);
}

/* ===== CONTENT ===== */
.event-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ===== TITLE ===== */
.event-card-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: #222;
}

/* ===== DESCRIPTION ===== */
.event-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;

  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== INFO ===== */
.event-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  background: #f8f9fa;
  padding: 8px 10px;
  border-radius: 10px;
}

/* ===== DATES ===== */
.event-dates {
  font-size: 12px;
  color: #666;
  background: #f8f9fa;
  padding: 6px 10px;
  border-radius: 8px;
}

.event-dates span {
  font-weight: 600;
  color: #333;
}

/* ===== FOOTER ===== */
.event-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 10px;
}

/* ===== BUTTON ===== */
.join-btn-see-more {
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s;
}

.join-btn-see-more:hover {
  background: #ffffff;
  color: black;
  border: 1px solid black;
}


.register-delete-update-event-btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
}


.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* important for mobile */
}

.edit-box {
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== MOBILE ===== */
@media (max-width: 600px) {
  .event-card-image {
    height: fit-content;
  }

  .event-card-content {
    padding: 14px;
  }

  .join-btn {
    width: 100%;
    text-align: center;
  }
}