header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: black;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.37); */
}

.logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 150px;
    height: 100%;
    cursor: pointer;
    /* border: 2px solid red; */
}

.logo-div #slug-logo {
    width: 50px;
    height: 40px;
    filter: saturate(0);
}

.logo-div #slug-text {
    letter-spacing: 0px;
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.logo-div #club-text {
    letter-spacing: 0px;
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.575);
    font-weight: bold;
}

.pages-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin-right: 100px;
    width: fit-content;
    height: fit-content;
    padding: 0px 20px;
    gap: 10px;
    color: black;
}


.header-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.336);
    position: relative;
    transition: all 0.3s;
    /* background-color: rgba(227, 244, 255, 0.575); */

}

.header-a:hover {
    background-color: rgba(155, 166, 173, 0.267);
}

.header-a.active {
    font-weight: bold;
    color: black;
    background-color: rgba(155, 166, 173, 0.267)
        /* text-decoration: underline; */
}

.tux-pfp {
    width: 20px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-pfp {
    display: none;
}

.login-signup-btn-div {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login-signup-button {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: "Spectral";
    cursor: pointer;
    transition: all 0.3s;
}

.login-signup-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.bars {
    display: none;
}

@media only screen and (max-width:600px) {
    header {
        width: 100%;
        height: 70px;
        background-color: rgb(255, 255, 255);
        padding: 0px 10px;
        color: rgb(0, 0, 0);
        display: flex;
        z-index: 2;
        justify-content: space-around;
    }

    .logo-div {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        margin-left: 0%;
    }

    .logo-div #slug-logo {
        width: 50px;
        height: 40px;
    }

    .logo-div #slug-text {
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 10px;
        font-family: "Spectral";
    }

    .logo-div #club-text {
        letter-spacing: 2px;
        font-size: 16px;
        margin-top: 12px;
        margin-left: 0px;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.575);
        font-weight: 100;
    }

    .pages-div {
        display: none;
    }

    body .bars {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100%;
        height: fit-content;
        /* background-color: red; */
        font-size: 27px;
    }

    .mobile-pfp {
        margin-left: 150px;
        display: initial;
    }

    .mobile-nav-bar {
        position: absolute;
        top: 0%;
        left: 0%;
        margin-top: 60px;
        width: 100%;
        padding: 20px 0px;
        transform: translate(-50%, 0%);
        background-color: rgb(255, 253, 253);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid rgb(194, 193, 193);
        z-index: 1;
    }

    .login-signup-btn-div {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .login-signup-button {
        color: white;
        background-color: black;
    }
}