.hero-section {
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    /* border-bottom: 2px solid grey; */

}

.hero-section-inside {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
}


.hero-section-text {
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: -5px;
    font-size: 100px;
}

.hero-section-sub-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.473);
}


.logo-div-hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    height: fit-content;
}

#slug-logo-hero-section {
    width: 70px;
    height: 60px;
}

.logo-div-hero-section #slug-text-hero-section {
    letter-spacing: 0px;
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.logo-div-hero-section #club-text-hero-section {
    letter-spacing: 0px;
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.575);
    font-weight: bold;
}

.join-us-btn {
    width: 150px;
    height: 40px;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.join-us-btn:hover {
    background-color: rgba(255, 255, 255, 0.829);
    border: 1px solid black;
    color: black;
}

.explore-us-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.explore-us-btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.btns-hero-section {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}



@media only screen and (max-width:600px) {

    .hero-section {
        width: 100%;
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        /* border-bottom: 2px solid grey; */

    }

    .hero-section-inside {
        position: relative;
        top: -10%;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .welcome-div {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
    }


    .hero-section-text {
        letter-spacing: 0px;
        font-size: 27px;
    }

    .hero-section-sub-text {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.473);
    }

    .logo-div-hero-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        margin-top: 100px;
        height: fit-content;
        cursor: pointer;
        /* border: 2px solid red; */
    }

    #slug-logo-hero-section {
        width: 40px;
        height: 35px;
    }

    .logo-div-hero-section #slug-text-hero-section {
        letter-spacing: 0px;
        font-size: 13px;
        margin-left: 5px;
        font-family: sans-serif;
        font-weight: bold;
    }

    .logo-div-hero-section #club-text-hero-section {
        letter-spacing: 0px;
        font-size: 13px;
        margin-left: 5px;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.575);
        font-weight: bold;
    }

    .join-us-btn {
        width: 150px;
        height: 40px;
        background-color: black;
        border: none;
        color: white;
        font-weight: bold;
        transition: all 0.3s;
        cursor: pointer;
    }

    .join-us-btn:hover {
        border-radius: 10px;
    }

    .explore-us-btn {
        width: 150px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        color: black;
        font-weight: bold;
        transition: all 0.3s;
        cursor: pointer;
    }

    .explore-us-btn:hover {
        border-radius: 10px;
    }

    .btns-hero-section {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}