.otp-input {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;
}

.otp-input:focus {
  border-color: black;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}