.team-register-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.team-register-card {
  background-color: #ffffff;
  padding: 35px;
  width: 100%;
  max-width: 750px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.13);
}

.team-register-card h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  color: #000000;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #f1ecec;
  background-color: #fffefe;
  color: rgb(0, 0, 0);
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #131313;
  box-shadow: 0 0 6px #161616;
}

.member-heading {
  color: #000000;
  margin: 25px 0 15px 0;
}

.member-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #dadada;
}

.member-card h4 {
  color: #000000;
  margin-bottom: 10px;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.register-btn:hover {
  background-color: #3a3a3a;
  transform: scale(1.02);
}