/* LAYOUT */
.admin-layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.admin-routes-outer {
  width: 220px;
  background: #ffffff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

/* ROUTES */
.admin-route {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ITEM */
.each-route-in-admin-div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  color: #bbb;
  transition: 0.3s all ease;
}

/* ACTIVE */
.each-route-in-admin-div.active {
  background: white;
  color: black;
  font-weight: 600;
}

/* HOVER */
.each-route-in-admin-div:hover {
  background: rgba(255,255,255,0.1);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* ICON */
.each-route-in-admin-div i {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

/* ICON COLORS */
.icon-add {
  background: #22c55e;
  color: black;
}

.icon-list {
  background: #facc15;
  color: black;
}

/* CONTENT */
.admin-content {
  flex: 1;
  padding: 30px;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

  .admin-layout {
    flex-direction: column;
    min-height: 10vh;
  }

  /* Sidebar becomes top nav */
  .admin-routes-outer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }

  .admin-route {
    flex-direction: row;
    gap: 20px;
  }

  .each-route-in-admin-div {
    flex-direction: column;
    font-size: 12px;
  }

  .each-route-in-admin-div span {
    font-size: 11px;
  }

  .each-route-in-admin-div i {
    width: 40px;
    height: 40px;
  }

  .admin-content {
    padding: 15px;
  }
}