.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.auth-form {
  background: white;
  padding: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.192);
}

.auth-form h2 {
  text-align: center;
}

.auth-form input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  font-weight: bold;
  padding: 0.6rem;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s;
}

.auth-form button:hover {
  background: rgba(255, 255, 255, 0.678);
  color: black;
  border: 2px solid black;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.dont-have-account-have-an-account {
  margin-left: 30px;
  cursor: pointer;
  color: rgb(0, 153, 255);
}
.dont-have-account-have-an-account:hover{
  text-decoration: underline;
}